.message {
    outline: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    fill: #06C;
    filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.10)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
}

.imageAndText img {    
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color:#0066CC
}

.text:after {

}

.name {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.messageText {    
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;    
}

.time {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}