.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
    border: 3px solid red;
}

.button {
    background-color: green;
    min-width: 70px;
    color: black;
    font-weight: bold;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
